.titleheads{
    margin: auto;
}
.titles{
    display: flex;
    font-size: larger;
    font-weight: 800;
    justify-content: space-around;
    flex-direction: row;
    text-decoration: none;
    padding-inline: 2vmax;
    list-style: none;
    padding: 2vmax;
    margin: auto;
}
.billingitems{
    height: auto;
    /* background-color:yellow; */
    margin: auto;
    width: 86%;
}

.billitem{
    margin-top: 0.2vmax;
    display: flex;
    flex-direction: row;
}
.billitem .icon{
    display: inline;
}
.billitem .itemName{
    width: 50%;
    padding: 1vmax;
    padding-bottom: 0vmax;
    background-color:#207570;
    color: white;
}

.billitem .itemprice{
    width: 9%;
    padding: 1vmax;
    justify-content: center;
    justify-items: center;
    padding-left: 1.4vmax;
    background-color: white;
    color:black;
    padding-bottom: 0vmax;
}

.billitem .itemquantity{
    width:30%;
    background-color: white;
    padding: 1vmax;
    padding-left: 9.7vmax;
}
.billitem .itemquantity span{
    border: 2px solid#207570;
    border-radius: 20%;
    padding: 0.5vmax;
}
.billitem .itemquantity .icon{
    margin-top: -0.2vmax;
    color: #207570;
    cursor: pointer;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-self: center;
}

.billitem .itemamount{
    background-color: white;
    padding: 1vmax 2.3vmax 0vmax 3.5vmax;
}

.paymentamount{
    background:  rgba(230, 230, 240, 0.36);
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 85%;
    margin-top: 10vmax;
    padding: 1vmax;
    padding-left: 12vmax;
    margin-bottom: 4vmax;
    box-shadow: 0px 4px 4px rgba(200, 71, 71, 0.2 );
}

.paymentamount h5{
    margin-left: 36vmax;
    margin-top: 1.2vmax;
}
.paymentamount .amountButton{
    margin-left: 5vmax;
    width: 15vmax;
    height: 4vmax;
    background-color: #207570;
    border-radius: 40px;
    box-shadow: 0px 4px 4px rgba(200, 71, 71, 0.2 );
}

